.body1-background{
    background-position: center;
    background-size: cover;
	text-align: center;
}
.background-color{
	background-color: red;
}
#div1{
	background-color: rgb(98, 237, 255);
	border-radius: 20px;
	float: none;
	padding: 10px;
	
}
#div2{
	background-color: rgb(98, 255, 255);
	border-radius: 20px;
	float: none;
	padding: 10px;

}
h2
{
	border-radius: 10px;
	width: 200px;
	padding: 5px;
 }
h3
{
	display: inline-block;
}
#input1{
	display: inline-blocks;
	width: 300px;
}
#input2{
	display: inline-blocks;
	width: 300px;
}


.img123{
	width: 300px;
	height: 400px;
}
body{
	background-image: url("https://cdn.trendhunterstatic.com/thumbs/cool-backgrounds.jpeg");
}
title{
	color:white;
}
#output{
	background-color: white;
	border-radius: 10px;
	border-top: 10px solid #AA4465;
	padding: 10px;
	float: none;
	text-align: left;
	width: 400px;
}